<div class="cards">
  <% @boats.each do |boat| %>
    <div class="card mx-auto rounded" style="width: 18rem;">
      <img src= "<%= boat.image_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= boat.make %></h5>
        <p class="card-text"><strong><%= boat.capacity %>
        </strong><%= boat.location %>
        <%= boat.color %> <strong><p>Owner: <%= boat.user.first_name %></p></strong>
        <a href="#" class="btn btn-primary">Check Boat</a>
      </div>
    </div>
  <% end %>
</div>
