<div class="container">
  <div class="search-bar mb-5 mx-auto">
    <%= form_tag boats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search by Location"
      %>
      <%= button_tag type: 'submit' do %>
        <i class="fa-solid fa-magnifying-glass"></i></i>
      <% end %>
    <% end %>
  </div>
  <div class="cards">
    <% @boats.each do |boat| %>
      <div class="card border-0 mx-auto rounded mb-4" style="width: 18rem;">
        <div class="card-category" style="height: 16rem; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url(<%= boat.image_url %>)">
        </div>
        <div class="card-body">
          <div class="card-title">
            <p><strong>Make:</strong> <%= boat.make %></p>
            <p class="card-text">Capacity: <%= boat.capacity %>
            <p>Location: <%= boat.location %> City</p>
            <a class="card-text" href="#"><strong>$<%= boat.daily_rate %></strong></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
