<div class="search-bar mb-5">
  <%= form_tag boats_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search by Location"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="cards">
  <% @boats.each do |boat| %>
    <div class="card  rounded" style="width: 18rem;">
      <img src="<%= boat.image_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to boat.make, boat_path(boat.id) %></h5>
        <p class="card-text"><strong><%= boat.capacity %>
        </strong><%= boat.location %>
        <%= boat.color %> <strong><p>Location: <%= boat.location %></p></strong>
        <%= link_to "See it", boat_path(boat.id) %>
      </div>
    </div>
  <% end %>
</div>
