
  <div class="text-center">
    <h1>Add Boat</h1>
  </div>


  <div class = "row mt-5">
    <div class="col-sm-12 col-md-6 mx-auto">
      <%= simple_form_for(@boat) do |f| %>
        <%= f.input :make %>
        <%= f.input :capacity %>
        <%= f.input :color %>
        <%= f.input :location %>
        <%= f.input :daily_rate %>
        <%= f.input :image_url %>
        <%= f.button :submit, class:"btn btn-primary mt-3 text-center" %>
      <% end %>
    </div>
  </div>
