<div class="container">
  <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
    <div class = "d-flex py-5 justify-content-around align-content-center">
      <div class="cards ">
        <div class="card border-0 mx-auto rounded mb-4" style="width: 18rem;">
          <div class="card-category" style="height: 24rem; width: 52rem; background-image:url(<%= @boat.image_url %>)">
          </div>
          <div class="card-body" >
            <div class="card-title" style="width: 42rem; line-height: 20px">
              <div class = "d-flex">
                <div class="icon mb-3">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  </div>
                  <div>
                    <p class = "show-icon"><i class="fa-solid fa-sailboat ml-4" style="color:green">Top Value</i></p>
                  </div>
              </div>
              <div class= "show-text mt-4">
                <h6>Description</h6>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio tempora molestiae repellat exercitationem. Cupiditate commodi ad itaque rerum sequi ex laborum rem. Suscipit provident et obcaecati quasi illum quis sed.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
      <div class="card card-show" style="width: 36rem; height: 24rem;">
        <div class="card-body">
          <h5 class="card-title border-bottom pb-3"><strong>Booking details</strong></h5>
          <div class= "border-bottom">
            <div class= "d-flex justify-content-between mb-3">
              <h6>Color :</h6>
              <div>
                <h6><%= @boat.color %></h6>
              </div>
            </div>
            <div class= "d-flex justify-content-between mb-3">
              <h6>Capacity :</h6>
              <div>
                <h6><%= @boat.capacity %></h6>
              </div>
            </div>
            <div class= "d-flex justify-content-between mb-3">
              <h6>Location :</h6>
              <div>
                <h6><%= @boat.location %></h6>
              </div>
            </div>
            <div class= "d-flex justify-content-between mb-3">
              <h6>Make :</h6>
              <div>
                <h6><%= @boat.make %></h6>
              </div>
            </div>
          </div>
          <div class = "text-center mt-3">
          <h5><strong>£<%= @boat.daily_rate %></strong>/day</h5>
          </div>
          <div class = "text-center d-grid gap-2 mt-3">
            <%if current_user != @boat.user%>
              <% if current_user %>
              <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"> Proceed to book</button>
              <% else %>
              <%= link_to "Proceed to book", new_user_session_path, class: "btn btn-dark  text-decoration-none", style: "color:white" %>
              <% end %>
            <%end%>
            <%if current_user == @boat.user%>
              <%= link_to "Edit listing", edit_boat_path(@boat), class: "btn btn-dark btn-sm text-decoration-none", style: "color:white"%>
              <%= link_to "Delete Boat", boat_path(@boat), class: "btn btn-dark btn-sm text-decoration-none", style: "color:white", data: {turbo_method: :delete, turbo_confirm: "Delete #{@boat.make}?"}%>
            <%end%>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog ">
                <div class="modal-content" style="border-radius: 10px; width:400px; background-color: #F4F4F4">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><strong>Guest</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <%= simple_form_for([@boat, @booking]) do |f| %>
                    <%= f.input :start_date, html5: true %>
                    <%= f.input :end_date, html5: true %>
                    <div class="modal-footer d-flex justify-content-between">
                      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                      <%= f.submit class: 'btn btn-dark' %>
                    </div>
                    <% end %>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
        <div class="card card-show" style="width: 100%; height: 22rem;">
                <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
    <div class="col-12 mx-auto text-center">
    <h5><strong>Customers who viewed this also viewed</strong></h5>
    <div class="cards pt-3">
    <% @boats.each do |boat| %>
      <div class="card card-show-footer border-0 mx-auto rounded mb-4" style="width: 18rem;">
        <div class="card-category" style="height: 16rem; background-image:url(<%= boat.image_url %>)">
        </div>
        <div class="card-body">
          <div class="card-title text-start">
            <p><strong>Make:</strong> <%= boat.make %></p>
            <p class="card-text">Capacity: <%= boat.capacity %></p>
            <p>Amount: £<%= boat.daily_rate %></p>
            <p>Location: <%= link_to boat.location, boat_path(boat), class: "stretched-link" %></p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    </div>
    </div>
    <hr> <br>
    <h1><%= @boat.make %> <small><%= @boat.location %></small></h1>
    <h2><%= pluralize @boat.reviews.size, "review" %></h2>
    <%= render 'reviews/form', boat: @boat, review: @review %> <br>
    <div data-insert-in-list-target="items">
      <% if @boat.reviews.blank? %>
        Be the first to leave a review for <%= @boat.make %>
      <% else %>
      <div class="row">
        <% @boat.reviews.each do |review| %>
          <div class="col-6">
          <i class="fa-solid fa-user"></i>
            <p><%= review.content %></p>
             <br>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
