<div class="card-product">
  <img src="<%= @boat.image_url %>">
  <div class="card-product-infos">
  <div class="row justify-content-between">
    <div class="col-12 col-lg-8">
      <h2><%=@boat.make%></h2>
      <p>The <%=@boat.make%> is a beautiful <strong><%=@boat.color%></strong> boat located in <strong><%=@boat.location%></strong></p>
      <p>The daily rate for this boat is only <strong>$<%=@boat.daily_rate%> per day</strong></p>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="col-12 col-lg-4">
    <a href="#" class="btn btn-primary">Book Now!</a>
  </div>
  </div>
</div>
