<div class="container ">
  <div class = "d-flex justify-content-between">
    <div class = "picture">
      <img src="<%= @boat.image_url %>">
    </div>




        <div class="card" style="width: 50rem;">
          <div class="card-body">
            <h5 class="card-title"><strong>Make: <%= @boat.make %></strong></h5>
            <h6 class="card-subtitle my-3 "><strong>Color: <%= @boat.color %></strong></h6>
            <h6 class="card-subtitle my-3 "><strong>Capacity: <%= @boat.capacity %></strong></h6>
            <h6 class="card-subtitle my-3 "><strong>Rate: $<%= @boat.daily_rate %></strong></h6>
            <p class="card-text">This boat is beautiful and good for all get away and parties</p>
            <div class = "text-center d-grid gap-2 mt-5">
              <%= link_to new_boat_booking_path(@boat) do %>
              <i class="btn btn-primary mt-3"></i> Book it
              <% end %>
            </div>
          </div>
        </div>
  </div>
</div>
